<!DOCTYPE html>
<html>
	<head>
		<title>My Website TODOs</title>
	</head>
	<body>
	    <ul>
	    <% @tasks.each do |task| %>
	        <li><%= task %></li>
	    <% end %>    
	    </ul>
	    <form method="post" action="/add">
	        <input type="text" name="text" id="text" />
	        <button type="submit">Add</button>
	    </form>
	    <script type="text/javascript">
	    	document.getElementById('text').focus();
	    </script>
    </body>
</html>